.time{
    text-align: center;
    padding: 32px;
    margin-bottom: 50px;
}
.time h3{
    font-size: 32px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 10px;
    position:relative;
}
.time h3::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 4px;
    background: black;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.time .colaboradores{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
}